# node_modules & frontend build
artrithm-frontend/node_modules/
artrithm-frontend/dist/

# Python venv
artrithm-backend/ai-server/.venv*/
__pycache__/
*.pyc

# IntelliJ & Java build
artrithm-backend/api-server/.idea/
artrithm-backend/api-server/target/

# 환경변수 파일
*.env

# 로그 파일
*.log