# Node Modules
/node_modules

# 빌드 결과물
/build
/dist

# 로컬 환경변수
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 로컬 IDE 설정
.vscode/
.idea/

# OS 파일
.DS_Store
Thumbs.db

# 로그파일
*.log
