.auction-request-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  max-width: 1120px;
  /* margin: 120px auto; */
  padding: 48px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.493);
  background-color: rgba(255, 255, 255, 0.05);
  font-family: "Pretendard", sans-serif;
  color: #f9f8f8;
}

/* 왼쪽 폼 영역 */
.form-section {
  flex: 1;
  max-width: 480px;
}

.form-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 32px;
  color: #f7f3f3;
}

.auction-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.auction-form label {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #f9f8f8;
}

.auction-form select,
.auction-form input {
  padding: 14px 18px;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  transition: border 0.2s ease;
}

.auction-form select:focus,
.auction-form input:focus {
  outline: none;
  border-color: #5e6e71;
  background-color: #fff;
}

.auction-form button {
  margin-top: 10px;
  background: linear-gradient(135deg, #748082, #b9c6c8);
  color: white;
  border: none;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 200px;
  margin-left: auto;
}

.auction-form button:hover {
  background: linear-gradient(135deg, #5e6e71, #8c9394);
}

/* 오른쪽 미리보기 영역 */
.preview-section {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.art-preview-img {
  width: 100%;
  max-height: 440px;
  object-fit: contain;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.placeholder-box {
  width: 100%;
  padding: 40px;
  text-align: center;
  border: 1px dashed #ccc;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.placeholder-img {
  width: 120px;
  opacity: 0.6;
  margin-bottom: 12px;
}

.placeholder-text {
  font-size: 15px;
  color: #eee;
}
