.gallery-wrapper {
    width: 80vw;
    aspect-ratio: 4 / 3;
    margin: 4rem auto;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background-color: #000;
  }
  
  .gallery-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
  }
  
  .dark .gallery-container {
    background-color: #000;
  }
  