.my-exhibitions {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: "Pretendard", sans-serif;
  color: #faf1dc;
}

.my-exhibitions h3 {
  font-size: 24px;
  margin-bottom: 24px;
  color: #fefefe;
  text-align: center;
}

.my-exhibitions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.exhibition-item {
  background: rgba(255, 255, 255, 0.132);
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 20px 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
}

.exhibition-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.exhibition-item strong {
  font-size: 18px;
  font-weight: 600;
  color: #fffbe6;
}

.exhibition-item span {
  font-size: 0.9rem;
  color: #d4c8a3;
  margin-left: 12px;
}

.exhibition-item button {
  background-color: transparent;
  border: 1px solid #faf1dc;
  color: #faf1dc;
  padding: 8px 12px;
  font-size: 0.85rem;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.exhibition-item button:hover {
  background-color: #faf1dc;
  color: #5e6e71;
}
