.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(6px);
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.header_logo {
  font-size: 20px;
  font-weight: bold;
  color: #faf1dc;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.logo-icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.header__nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  padding-right: 50px;
}

.header__nav li {
  position: relative;
  z-index: 1;
}

.header__nav li a,
.header__nav li span {
  text-decoration: none;
  font-size: 16px;
  color: #faf1dc;
  transition: color 0.2s ease-in-out;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 1);
}

.header__nav li a:hover,
.header__nav li span:hover {
  color: #b3a79f;
}

.nav-dropdown {
  position: relative;
}

.dropdown_title {
  cursor: pointer;
}

.dropdown__menu {
  position: absolute;
  top: 120%;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  /* border-radius: 8px; */
  list-style: none;
  padding: 1px 0;
  margin: 0;
  min-width: 160px;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.dropdown__menu li {
  padding: 10px 16px;
  line-height: 1.4;
  white-space: nowrap;
}

.dropdown__menu li a {
  font-size: 15px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease;
  text-shadow: 0 1px 1px rgba(200, 200, 200, 0.4);
}

.dropdown__menu li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

/* 로그아웃 텍스트 스타일 */
.logout-link {
  font-size: 16px;
  color: #faf1dc;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.562);
  transition: color 0.2s ease-in-out;
}

.logout-link:hover {
  color: #b3a79f;
}
